<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DENTAL_CLINIC"
			 connectionString=
         "Server = AstraCore;
          Database = DENTAL_CLINIC;
          Trusted_Connection = true;
          Encrypt = False"
         />
		<add name="Anketa_LocalDB"
			 connectionString=
         "Server = (localdb)\MSSQLLocalDB;
          Database = DENTAL_CLINIC;
          Trusted_Connection = true;
          Encrypt = False"
         />
		<add name="DENTAL_SQLite"
			 connectionString =
			 "Data Source = DENTAL_CLINIC.db;"
			 providerName = "Microsoft.Data.Sqlite"
			 />
		<add name="DENTAL_First"
			 connectionString =
			 "Server=AstraCore;
			  Database=DENTAL_CLINIC;
              Integrated Security = True;
              Encrypt=False"
			 />
		
	</connectionStrings>
</configuration>